.wp-block {
    
    @import "./Common/Global.scss";
    @import './Common/Mixins.scss';
    @import './Common/Buttons.scss';

    @import "./Blocks/how_to_intro.scss";
    @import './Blocks/how_to_steps.scss';
    @import './Blocks/how_to_faq.scss';

}

.wp-block-acf-lines-image,
.wp-block-acf-lines-heading,
.wp-block-acf-lines-link {
	max-width: 950px !important;
}

div[class^='wp-block-acf'], div[class*=' wp-block-acf']{
    max-width: 100%;
}