.how-to-steps {
    padding: 48px 0;
    background-color: #000;
    position: relative;

    @include Desktop {
        padding: 0;
        background-color: transparent;
    }

    &__container {
        @include Container;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        @include Desktop {
            flex-direction: row;
            align-items: stretch;
            gap: 20px;
            margin-top: -202px;
        }
    }

    &__step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 327px;
        padding: 24px 0;

        @include Desktop {
            background-color: #222222;
            border-radius: 8px;
            padding: 24px;
            max-width: initial;
            width: 33.333%;
            justify-content: flex-start;
        }

        .icon {
            width: 128px;
            height: 128px;
            margin: 0 0 24px 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        h3.title {
            color: #fff;
            text-align: center;
            // font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 109.091% */
            text-transform: none;
            margin: 0 0 12px 0;
        }

        p.desc,
        p.desc2 {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            text-align: center;
            margin: 0;
        }

        p.desc2 {
            margin-top: 24px;
        }

        span.label {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            text-align: center;
        }

        a {
            color: #F32E3B;
            font-size: 16px;
            font-style: normal;
            font-weight: 400 !important;
            line-height: 24px; /* 150% */
            text-align: center;
            text-decoration: none !important;

            &:hover {
                text-decoration: underline !important;
            }
        }

        .url {
            
            @include Desktop {
                margin-top: 24px;
            }
        }
    }   
}