.how-to-faq {
    overflow: hidden;
    // padding: 96px 0 48px 0;
    background-color: #000;

    @include Desktop {
        padding: 86px 0 64px 0;
    }

    &__container {
        @include Container;

        @include Desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    &__col {

        &--column-1 {
            background-color: #303030;
            margin: 0 -20px;
            padding: 96px 20px 48px 20px;

            @include Desktop {
                margin: 0;
                padding: 0;
                background-color: transparent;
                width: 335px;
                min-width: 335px;
                max-width: 335px;
            }

            @include DesktopXL {
                width: 455px;
                min-width: 455px;
                max-width: 455px;
            }

            .video-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0 0 48px 0;

                @include Desktop {
                    background-color: #303030;
                    border-radius: 8px;
                    padding: 0 0 24px 0;
                }

                .video {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 8px;
                    margin: 0 0 24px 0;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                .title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0 24px 0;
                    max-width: 286px;

                    @include Desktop {
                        max-width: initial;
                        padding: 0 24px;
                    }

                    h5 {
                        color: #fff;
                        text-align: center;
                        // font-family: Montserrat;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 109.091% */
                        margin: 0;

                        &.title-2 {
                            font-weight: 700;
                        }
                    }
                }

                p.desc {
                    color: #fff;
                    // font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    text-align: center;
                    max-width: 286px;
                    margin: 0 0 24px 0;
                    padding: 0 24px;

                    @include Desktop {
                        max-width: initial;
                    }
                }

                .time,
                .number {
                    margin: 0 0 8px 0;
                }

                .language {
                    margin: 0 0 24px 0;
                }

                .time,
                .number,
                .language {

                    span {
                        color: #fff;
                        // font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        
                        &:first-of-type {
                            font-weight: 700;
                        }
                    }
                }

                // a.btn {
                //     padding: 11px 48px;
                //     color: #fff;
                //     text-align: center;
                //     // font-family: Montserrat;
                //     font-size: 16px;
                //     font-style: normal;
                //     font-weight: 500;
                //     line-height: 24px; /* 150% */
                //     text-transform: uppercase;
                //     background-color: #F32E3B;
                //     text-decoration: none;
                //     border-radius: 200px;
                //     border: 1px solid #F32E3B;
                // }
            }

            .remaining-block {
                margin: 24px 0 0 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include Desktop {
                    background-color: #303030;
                    border-radius: 8px;
                }

                @include DesktopXL {
                    flex-direction: row;
                }

                .image {
                    width: 100%;
                    max-width: 335px;
                    height: auto;
                    overflow: hidden;
                    border-radius: 8px;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        display: block;
                    }
                }

                .meta {
                    width: 100%;
                    max-width: 335px;
                    padding: 24px;

                    @include Desktop {
                        max-width: initial;
                    }

                    h6.title {
                        // font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        color: #fff;
                        margin: 0 0 9px 0;
                    }

                    .cities {

                        span {
                            display: block;
                            // font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            color: #fff;
                            margin: 0 0 8px 0;
                        }

                        a.link {
                            display: block;
                            margin: 0 0 4px 0;
                            // font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        &--column-2 {
            padding: 64px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            @include Desktop {
                padding: 0 0 0 100px;
            }

            @include DesktopXL {
                padding: 0 0 0 114px;
            }

            .heading {
                margin: 0 0 69px 0;
                width: 100%;
                
                h2.heading__title {
                    color: #fff;
                    text-align: center;
                    // font-family: Montserrat;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                    margin: 0 auto;
                    max-width: 335px;
                    padding: 12px 0;
                    border-bottom: 2px solid #F32E3B;

                    @include Desktop {
                        margin: 0;
                        max-width: initial;
                        text-align: start;
                        font-size: 48px;
                        line-height: 48px;
                    }

                    span {
                        font-weight: 900;
                        display: block;
                    }
                }
            }

            h3.heading {
                border-bottom: none;
                // font-family: Montserrat;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: none;
                margin: 0 0 24px 0;
                width: 100%;
            }

            .qae-faqs-container {
                margin: 0 0 69px 0;
                width: 100%;

                > ul {
                    display: none;
                }

                .qe-faq-toggle {

                    .qe-toggle-title {
                        background-color: transparent;
                        border: none;
                        padding: 12px;
                        border-bottom: 1px solid #FBFBFB;

                        @include Desktop {
                            border-bottom: 1px solid #303030;
                        }

                        h4 {
                            display: inline-flex;
                            color: #fff;
                            // font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                        }
                    }

                    .qe-toggle-content {
                        border: none;
                        border-bottom: 1px solid #FBFBFB;
                        padding: 12px;

                        @include Desktop {
                            border-bottom: 1px solid #303030;
                        }

                        p {
                            // font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            color: #fff;
                            opacity: 0.5;
                        }

                        ul, ol {

                            li {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px; /* 150% */
                                color: #fff;
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }

            a.btn {

                @include Desktop {
                    display: none;
                }
            }
        }
    }
}