.how-to-intro {
    padding: 48px 0;
    background: radial-gradient(206.33% 170.35% at -131.73% 125.15%, #F32E3B 0%, #161616 100%);
    // min-height: 1026px;

    @include Desktop {
        background: radial-gradient(78.84% 119.18% at -5.29% -66.21%, #F32E3B 0%, #161616 100%);
        padding: 112px 0 246px 0;
    }

    &__container {
        @include Container;
        display: flex;
        flex-direction: column-reverse;
        gap: 22px;

        @include Desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__col {

        @include Desktop {
            width: 50%;
            max-width: 550px;
        }

        &--column-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p.desc {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                color: #fff;
                text-align: center;
                margin: 0 0 24px 0;
                width: 100%;
                max-width: 550px;

                @include Desktop {
                    text-align: start;
                }
            }
        }

        &--column-2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__image {
        width: 335px;
        height: 335px;

        @include DesktopXL {
            width: 550px;
            height: 550px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__heading {
        width: 100%;
        max-width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 24px 0;

        @include Desktop {
            justify-content: flex-start;
        }

        h1.heading {
            text-align: center;
            padding: 12px 0;
            border-bottom: 2px solid #F32E3B;
            display: inline-block;
            color: #fff;
            // font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            margin: 0;

            @include Desktop {
                padding: 8px 0;
                font-size: 48px;
                font-weight: 800;
                line-height: 48px;
            }

            span {
                font-weight: 900;
            }
        }
    }

    &__buttons {
        width: 100%;
        max-width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin: 0 0 24px 0;

        @include Desktop {
            justify-content: flex-start;
        }

        // a.btn {
        //     padding: 11px 48px;
        //     color: #fff;
        //     text-align: center;
        //     // font-family: Montserrat;
        //     font-size: 16px;
        //     font-style: normal;
        //     font-weight: 500;
        //     line-height: 24px; /* 150% */
        //     text-transform: uppercase;
        //     background-color: #F32E3B;
        //     text-decoration: none;
        //     border-radius: 200px;
        //     border: 1px solid #F32E3B;
        // }

        // a.btn-video {
        //     padding: 11px 48px;
        //     background-color: transparent;
        //     border: 1px solid #fff;
        //     border-radius: 200px;
        //     color: #fff;
        //     text-align: center;
        //     // font-family: Montserrat;
        //     font-size: 16px;
        //     font-style: normal;
        //     font-weight: 500;
        //     line-height: 24px; /* 150% */
        //     text-transform: uppercase;
        //     text-decoration: none;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;

        //     svg {
        //         margin-right: 10px;
        //         width: 20px;
        //         min-width: 20px;
        //         height: 14px;
        //         margin-top: -2px;
        //     }
        // }
    }

    &__select {
        width: 100%;
        max-width: 550px;

        h2.heading {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            margin: 0 0 24px 0;
        }

        .custom-select {
            position: relative;

            &__filter {
                padding: 12px 24px;
                border: 1px solid #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                
                span.filter-label {
                    color: #fff;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; /* 150% */
                    pointer-events: none;
                }

                svg {
                    pointer-events: none;
                }
            }

            &__dropdown {
                background-color: #000;
                position: absolute;
                z-index: 999;
                width: 100%;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s;

                div {
                    border-bottom: 1px solid #fff;

                    &:last-of-type {
                        border: none;
                    }

                    label {
                        color: #fff;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; /* 150% */
                        padding: 12px 24px;
                        cursor: pointer;
                        width: 100%;
                    }

                    input {
                        position: absolute;
                        display: none;
                    }
                }

                &.active {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
}