a.btn {
    padding: 11px 48px;
    color: #fff !important;
    text-align: center;
    // font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
    background-color: #F32E3B;
    text-decoration: none !important;
    border-radius: 200px;
    border: 1px solid #F32E3B;
    display: inline-block;
    transition: 0.2s ease-out;

    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}

a.btn-video {
    padding: 11px 48px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 200px;
    color: #fff !important;
    text-align: center;
    // font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;

    svg {
        margin-right: 10px;
        width: 20px;
        min-width: 20px;
        height: 14px;
        margin-top: -2px;
    }

    &:hover {
        opacity: 0.8;
    }
}