@mixin Mobile() {
	@media (min-width: 576px) {
		@content;
	}
}

@mixin TabletDesktopLG() {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin Desktop() {
	@media (min-width: 992px) {
		@content;
	}
}

@mixin DesktopXL() {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin Container {
    width: 100%;
    max-width: 991px;
    padding: 0 20px;
    margin: 0 auto;

    @include DesktopXL {
        max-width: 1164px;
    }
}